<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Palpa</title>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAFr8AAF19oQD/CAAA////AADq/wAAAP8AuwD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIiIgAAAAACJ3d3IgAAACdxd0d3IAACdXd3dzdyACd3dyInd2cgJ2dyAAJ3dyAndyAAACd3ICd3IAAAJ0cgJ3cgAAAndyAnN3IAAnd3ICd3dyIncXYgJ1d3d3d3dyACdxd3d1dyAAAnd0d3dyAAAAInd3ciAAAAAAIiIgAAD8HwAA8AcAAOADAADAAQAAgAAAAIHAAACD4AAAg+AAAIPgAACBwAAAgAAAAIAAAADAAQAA4AMAAPAHAAD8HwAA" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anaheim" rel="stylesheet">
    <link href="../src/index.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anaheim|Indie+Flower|Raleway+Dots" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d">
  </head>
  <body>

    <!-- top -->

    <!-- Burger Nav -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <nav class='navbar navbar-inverse navbar-fixed-left'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle'
          data-toggle='collapse' data-target='#myNavBar'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          </button>
        </div>
        <div class='collapse navbar-collapse' style='border:none;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;' id ='myNavBar'>
          <ul class="nav navbar-nav navbar-right">
              <li ><a href="#Home2"><span class="glyphicon glyphicon-home"></span></a></li>
              <li><a href="#Music"><span class="glyphicon glyphicon-music"></span></a></li>
              <li><a href="#DatePage"><span class="glyphicon glyphicon-calendar"></span></a></li>
              <li><a href="#Contacto"><span class="glyphicon glyphicon-envelope"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
      <!-- end burger nav -->
      <a id = 'Home2'></a>
      <div style='width:100%;margin:0px;' id ='myCarousel' class="carousel slide" data-ride='carousel'>
        <div class='carousel-inner' role='listbox'>
          <img style= 'width:100%' class='img-responsive' src='https://78.media.tumblr.com/1ce55b1f9401511e435775e1f591a2ad/tumblr_p8boigitm01sgw7hlo1_1280.gif'>
          <div class='carousel-caption'>
            <h4>PALPA</h4>
          </div>
        </div>
      </div>

      <!-- music -->
  <a id = 'Music'></a>
      <div class=' container main text-center'>
        <!-- <div class='player'> -->
      <iframe allow="autoplay *; encrypted-media *;"
      frameborder="0" height="450"
      sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
      src="https://embed.music.apple.com/us/album/waifu-digital/1271824872?app=music"
      width="660">
      </iframe>
      <!-- </div> -->
          <div class='row'>
              <div class = 'col-sm-12 text-center icon' style='margin:1em auto'>
                <a target ='blank' href ='https://open.spotify.com/album/4kPZRcVYyo0hDwQZCCgOw4'><i class="fa fa-spotify"></i></a>
                <a target ='blank' href ='https://itunes.apple.com/us/album/waifu-digital/1271824872?app=music'><i class="fa fa-apple"></i></a>
                <a target ='blank' href ='https://listen.tidal.com/album/77500541'><img style ='height:1.3em;'src='https://images-na.ssl-images-amazon.com/images/I/61EC1IuyA5L.png' /></a>
                <a target ='blank' href ='https://us.napster.com/artist/palpa/album/waifu-digital'><i class="socicon-napster"></i></a>
                <a target ='blank' href ='https://soundcloud.com/palpapalpa/sets/waifu-digital-1'><i class="fa fa-soundcloud"></i></a>
            </div>
          </div>
      </div>

      <a id = 'DatePage'></a>
      <!-- Dates -->

      <div class='container dates text-center'>
        <div class ='row'>
          <div class ='col-xs-12'>
            <div class='list-group'>
                <h2 class='list-group-item'><span >6/24</span> Beat Kitchen</h2>
                <h2 class='list-group-item'><span >7/03</span> Subterranean</h2>
                <h2 class='list-group-item'><span >7/11</span> Cafe Mustache</h2>
                <h2 class='list-group-item'><span >7/23</span> Cole's Bar</h2>
                <h2 class='list-group-item'><span >8/09</span> Emporium</h2>
                <h2 class='list-group-item'><span >9/10</span> Mr.Rogers</h2>
            </div>
          </div>
        </div>
        <div class='row text-center dateInput'>
            <form action = "/api/shows"  role = 'form' method ="post">

              <div class='col-xs-8 col-sm-10 col-md-10 dateEmail'>
                  <div class='form-group'>
                      <input id='dateInput'
                      class= 'form-control' type="email"
                      name="signup" placeholder='Keep up...'>
                  </div>
              </div>
              <div class='col-xs-4 col-sm-2 col-md-2 dateSubmit'>
                <div class='form-group'>
                    <input id = 'submit'
                    class = 'btn' value ='Send' type="submit"></input>
               </div>
              </div>
            </form>
          </div>


      </div>



      <!-- Contact -->
      <a id ='Contacto'></a>
      <div class ='container text-center contact'>
          <h1>Contact</h1>
          <form action = "/api/donuts"  role = 'form' method ="post">
            <div class ='row row1'>
                  <div class='form-group'>
                    <div class ='col-sm-12 col-xs-12 col-md-6 col-lg-6 text-center' id='contactName'>
                      <input class= 'form-control' type="text"
                    name="name" placeholder='Name'>
                    </div>
                  </div>
                  <div class='form-group'>
                    <div class ='col-sm-12 col-xs-12 col-md-6 col-lg-6 text-center' id='contactEmail'>
                      <input class= 'form-control' type="email"
                      name="email" placeholder='Email'>
                    </div>
                  </div>
            </div>
            <div class = 'row form-group row2'>
                <div class = 'col-sm-12'>
                  <textarea rows=5 maxlength ='5000' class ='form-control' id ='comment'
                    name="text" placeholder='Message...' type ='textarea' value = ''></textarea>
                </div>
            </div>
            <div class='form-group contactSubmitdiv'>
                <div class ='col-sm-12'>
                  <button class = 'btn pull-right' id='contactSubmit'
                   type="submit">Send</button>
                </div>
            </div>
          </form>
        </div>

          <!-- Footer -->
          <footer class='text-center'>
              <div>
                <span class="glyphicon glyphicon-copyright-mark symbol">
                </span> 2018 Palpa All Rights Reserved
              </div>
              <div class ='foot'>
                <a target ='blank' href ='https://www.facebook.com/pppalpa/'><i
                  class="fa fa-facebook-official"></i></a>
                <a target ='blank' href ='http://hotsta.net/palpa_'><i
                  class="fa fa-instagram"></i></a>
              </div>
         </footer>


  </body>
</html>
